//google fonts

@import url('https://fonts.googleapis.com/css2?family=Alata&family=Poppins:wght@100;200;300;400&family=Red+Hat+Display:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&family=Poppins:wght@100;200;300;400&family=Red+Hat+Display:wght@500;700;900&display=swap');

//primary colors
$white:hsl(0, 0%, 100%);
$black:hsl(0, 0%, 0%);
$Dark-Gray:hsl(0, 0%, 55%);
$Very-Dark-Gray: hsl(0, 0%, 41%);

//typography
$font-size:0.9375rem;

$font-weight-larger:400;